# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

# Default global ownership
* @muraridevv

# Dependency ownership
Gemfile      @muraridevv
Gemfile.lock @muraridevv
package.json @muraridevv
yarn.lock    @muraridevv

# Platform specific ownership
.buildkite/                              muraridevv
Containerfile                            muraridevv
Dockerfile                               muraridevv
app/controllers/async_info_controller.rb muraridevv
app/services/search/                     muraridevv
app/workers/                             muraridevv
config/                                  muraridevv
db/                                      muraridevv
docker-compose.yml                       muraridevv
lib/                                     muraridevv
podman-compose.yml                       muraridevv
scripts/                                 muraridevv
spec/rails_helper.rb                     muraridevv
spec/support/                            muraridevv
