apiVersion: apps/v1
kind: Deployment
metadata:
  name: careerpolitics-web
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCountWeb }}
  selector:
    matchLabels:
      app: careerpolitics
      component: web
  template:
    metadata:
      labels:
        app: careerpolitics
        component: web
    spec:
      containers:
        - name: web
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: careerpolitics-secrets
                  key: DATABASE_URL
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: careerpolitics-secrets
                  key: SECRET_KEY_BASE
            - name: AWS_SECRET
              valueFrom:
                secretKeyRef:
                  name: careerpolitics-secrets
                  key: AWS_SECRET
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: careerpolitics-secrets
                  key: SMTP_PASSWORD
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: careerpolitics-secrets
                  key: REDIS_URL
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
